In [1]:
import numpy as np

# LOOP

### IF loop

In [4]:
str = int(input("enter here  "  ))

if str < 10:
  print("less than 10")
elif str < 20:
  print("less than 20")

enter here  15
less than 20

### WHILE loop

In [5]:
i = 1

while i < 10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [6]:
i = 55

while i < 70:
  print(i)

  i+=1

55
56
57
58
59
60
61
62
63
64
65
66
67
68
69

In [9]:
i = 33

while i < 55:
  print(i)
  if i==40:
    break     # so, here i am using "break" statemnt.
  i+=1

33
34
35
36
37
38
39
40

In [19]:
i = 33

while i < 40:
  print(i)
  if i==40:
    continue   # so, here i am using "continue". it continue till 40 
  i+=1

33
34
35
36
37
38
39

### FOR loop

In [22]:
l = [1,2,34,5,66]   # so, here i am finding even number.

for i in l:
  if i%2==0:
    print(i,"even")

2 even
34 even
66 even